<h1 style="text-align: center">Store Stats</h1>
<h2>Total Products: <%= @productCount.count(created_at: :desc) %> </h2>
<h2>Total categories: <%= @categoryCount.count(created_at: :desc) %> </h2>

<p style="text-align: center"> <%= link_to 'Admin Products', admin_products_path %> </p>